.heading-primary {
    color: $color-white;
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    margin-bottom: 2rem;
}

.page-wrapper{
    margin-left: auto;
    margin-right: auto;
    width: 140rem;
    text-align: center;
}