.timer{
    height: 10rem;
    border-radius: 50%;
    width: 10rem;
    background-color: $color-gray;
    position: absolute;
    top: 0;
    left: 0;
    
    span{
        @include center-container;
        font-size: 5rem;
        color: white;
    }
}