*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    // this defines what 1rem is, in this case its equal to 10px. By default we have 16px as font-size
   font-size: 62.5%;
   user-select: none;
   font-family: sans-serif;

    @include respond(tab-land) { // width < 1200?
      font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include respond(tab-port) { // width < 900?
        font-size: 50%; //1 rem = 8px, 8/16 = 50%
    }

    @include respond(big-desktop) {
        font-size: 75%; //1rem = 12, 12/16
    }
 }
 
body {
  //Include padding and border in the element's total width and height:
  box-sizing: border-box;
}

.base {
  font-size: 1.6rem;
}