*,
*:after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
    // this defines what 1rem is, in this case its equal to 10px. By default we have 16px as font-size
   font-size: 62.5%;
   user-select: none;
   font-family: sans-serif;
 }
 
body {
  //Include padding and border in the element's total width and height:
  box-sizing: border-box;
}

.base {
  font-size: 1.6rem;
}