.draw-time {
    img{
        @include imgBackground;
        background-image: url('~@/assets/draw-time.jpg');
    }

    .container{
        @include center-container;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }
}