.rules{

    button {
        position: absolute;
        bottom: 5%;
        right: 5%;
    }

    ul{
        list-style: none;
        li{
            margin-bottom: 1rem;
            font-size: 4rem;
            font-family: monospace;
        }
    }

    h1{
        font-size: 8rem;
        margin-bottom: 5rem;
        margin-top: 2rem;
    }
}