.war-guess{

    padding: 7rem 8rem;

    .draw-container{

        display: inline-block;
        vertical-align: top;
        width: 65%;
        margin-right: 5rem;

        .drawing {
            height: 80vh;
            width: 100%;
            
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            
            border-radius: 8rem;
            background-color: $color-gray-light;
            
        }
    }
    
    .guesses{
        width: 30%;
        display: inline-block;
        vertical-align: top;
        text-align: center;

        h1 {
            font-size: 4.5rem;
        }

        .guess-block {
            height: 70vh;
            border: 2px solid $color-gray;
            border-radius: 1rem;
            margin: 2rem 5rem;
            font-size: 1.6rem;
            overflow: auto;
            padding: 2rem;
            text-align: start;
        }

        span {
            display: block;
            margin-bottom: 1rem;
        }

        p {
            font-family: monospace;
            font-size: 2.5rem;
            word-break: break-word;
        }
    }
}