.home {
    img{
        @include imgBackground;
        background-image: url('~@/assets/home.jpg');
    }

    &-container{
        text-align: center;
        height: 20rem;
        @include center-container;
    }
}