.join{
    
    img{
        @include imgBackground;
        background-image: url('~@/assets/join.jpg');
        background-repeat: round;
    }
    
    .players{
        font-family: monospace;
        font-size: 3rem;

        div:nth-child(1){
            color: red;
            position: absolute;
            top: 10%;
            left: 10%;
        }
        div:nth-child(2){
            color: blue;
            position: absolute;
            bottom: 10%;
            left: 10%;
        }
        div:nth-child(3){
            color: yellowgreen;
            position: absolute;
            top: 10%;
            right: 10%;
        }
        div:nth-child(4){
            color: green;
            position: absolute;
            bottom: 10%;
            right: 10%;
        }
        div:nth-child(5){
            color: black;
            position: absolute;
            top: 20%;
            left: 20%;
        }
        div:nth-child(6){
            color: purple;
            position: absolute;
            top: 20%;
            right: 20%;
        }
        div:nth-child(7){
            color: orange;
            position: absolute;
            bottom: 20%;
            left: 20%;
        }
        div:nth-child(8){
            color: magenta;
            position: absolute;
            bottom: 20%;
            right: 20%;
        }
    }

    .start{
        height: 20rem;
        width: 60rem;
        text-align: center;
        @include center-container;

        span {
            display: inherit;
            margin-bottom: 1.5rem;
            font: 4rem bolder;
            font-family: sans-serif;
        }
    }
}
