.rules{

    button {
        position: absolute;
        bottom: 5%;
        right: 5%;
    }

    ul{
        list-style: none;
        li{
            margin-bottom: 1rem;
        }
    }

    h1{
        font-size: 8rem;
        margin-bottom: 3rem;
        margin-top: 1rem;
    }
}